PayStarWars/.vs
PayStarWars/PayStarWars/x64
PayStarWars/x64
PayStarWars/PayStarWars/PayStarWars.vcxproj.user
PayStarWars/build-PayStarWars-Desktop_Qt_5_15_1_MSVC2019_64bit-Debug
PayStarWars/PayStarWars/PayStarWars.pri
PayStarWars/PayStarWars/PayStarWars.pro
PayStarWars/PayStarWars/PayStarWars.pro.user
Soldiers/.vs
Soldiers/x64
